.grid{
    background-color: aqua;
    padding: 1rem 1rem 1rem;
    /* height: 150px; */
}

.buttons{
    display: grid;
    grid-template-columns: 50% 35%;
    gap:1rem;
    align-items: center;
    height: 100%;
}

.buttons button{
    font-size: 0.9rem;
    cursor: pointer;
}